<h1>Invite to group</h1>

<p>Hi {{name}},</p>

<p>You have been invited to join the group {{groupName}}.</p>

<p>Your secret code is <b>{{code}}</b></p>

<p>Use this code to join the group.</p>

<p>Click <a href='{{link}}'>here</a> to join the group.</p>